@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@400;500;700&family=Oswald&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans KR', 'NotoSans', 'Titillium Web', sans-serif;
  font-size: 15px;
  color: #222;
  line-height: 1.4;
}
/* 공통 클래스 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* 고정메뉴 */
.fix-wrap {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  z-index: 99999;
}

/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
body{
  background-color: #666;
}
/* header */
.header{
  position: relative;
  display: block;
  z-index: 9999;
  /* overflow: hidden; */
  background-color: #fff;
}

.header .inner{
  height: 54px;
  /* margin: 0 auto; */
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 145px;
  height: 30px;
  background: url('../images/logo.jpg') no-repeat center;
  background-size: cover;
}

.gnb {
  position: relative;
  display: block;
  top:0;
}
.menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-75%);
  height: 100%;
  display: block;
  font-weight: 800;
  white-space: nowrap;
  font-size: 0;
}

.menu>li {
  position: relative;
  display: inline-block;
}
.mainmenu {
  position: relative;
  display: block;
  height: 52px;
  line-height: 52px;
  color: #000;
  text-align: left;
  font-size: 16px;
  padding: 0 20px; 
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.submenu {
  position: absolute;
  left: 100%;
  top: 54px;
  transform: translateX(-50%);
  display: block;
  visibility: hidden;
  min-width: 160px;
  opacity: 0;
  transition: all 0.3s;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  background-color: rgba(201, 224, 253, 0.3);
}

.submenu li {
  position: relative;
  display: block;
}
.menu>li:hover .submenu {
  z-index: 999;
  visibility: visible;
  opacity: 1;
  top: 54px;
  /* transform: translateX(0%) translateY(-10%); */
}

.submenu li a {
  position: relative;
  display: block;
  /* text-align: center; */
  padding-left: 20px;
  padding-right: 30px;
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 46px;
}
/* visual */
/* site-map */
/* benefits */
/* vestgoods */
/* news-event */
/* footer */